In [1]:
#Import denpendacies
import pandas as pd

In [2]:
#Set input file
task1_file = "Resources/budget_data.csv"

In [3]:
#read in file
budget_df = pd.read_csv(task1_file)
budget_df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [8]:
budget_df.dtypes
budget_df.count()

Date             86
Profit/Losses    86
dtype: int64

In [9]:
#get the months out of the dates
budget_df["Month"] = budget_df["Date"].str[:3]
budget_df.head(10)

       Date  Profit/Losses Month
0  Jan-2010         867884   Jan
1  Feb-2010         984655   Feb
2  Mar-2010         322013   Mar
3  Apr-2010         -69417   Apr
4  May-2010         310503   May
5  Jun-2010         522857   Jun
6  Jul-2010        1033096   Jul
7  Aug-2010         604885   Aug
8  Sep-2010        -216386   Sep
9  Oct-2010         477532   Oct

In [10]:
#get the year out of the dates
budget_df["Year"] = budget_df["Date"].str[-4:]
budget_df.head(10)

       Date  Profit/Losses Month  Year
0  Jan-2010         867884   Jan  2010
1  Feb-2010         984655   Feb  2010
2  Mar-2010         322013   Mar  2010
3  Apr-2010         -69417   Apr  2010
4  May-2010         310503   May  2010
5  Jun-2010         522857   Jun  2010
6  Jul-2010        1033096   Jul  2010
7  Aug-2010         604885   Aug  2010
8  Sep-2010        -216386   Sep  2010
9  Oct-2010         477532   Oct  2010

In [16]:
months = budget_df["Month"].unique()
len(months)

12

In [28]:
budget_df["Year"].unique()
budget_df.dtypes

Date             object
Profit/Losses     int64
Month            object
Year             object
dtype: object

In [21]:
tot_profit_loss = budget_df["Profit/Losses"].sum()
tot_profit_loss

38382578

In [25]:
budget_df["Change"] = 0
budget_df["Change"] = (budget_df["Profit/Losses"]/ budget_df["Profit/Losses"])-1

KeyError: 'Change'

In [24]:
#for i in budget_df.index:
 #   print(i)
budget_df["Date"].iloc[0]

for i in budget_df.index:
    if i != 0:
        budget_df["Change"].iloc[i] = (budget_df["Profit/Losses"].iloc[i+1]/ budget_df["Profit/Losses"].iloc[i])-1

'Jan-2010'