In [1]:
#Load dependencies
import pandas as pd

In [4]:
#set input file
task2_input_file = "Resources/election_data.csv"

In [5]:
polling_df = pd.read_csv(task2_input_file)
polling_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [12]:
polling_df.count()
polling_df["Voter ID"].value_counts()

17958996    1
19918729    1
11071552    1
19599420    1
15411259    1
           ..
16635144    1
12430599    1
16622854    1
12434693    1
12584961    1
Name: Voter ID, Length: 3521001, dtype: int64

In [13]:
#calculate total number of votes
total_votes = polling_df["Voter ID"].count()
total_votes

3521001

In [14]:
polling_df["Candidate"].value_counts()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [16]:
num_of_candidates = len(polling_df["Candidate"].unique())
num_of_candidates

4

In [25]:
polling_grouped = polling_df.groupby(["Candidate"]).count()
polling_grouped

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630

In [28]:
polling_grouped["Voter ID"]

Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
Name: Voter ID, dtype: int64

In [51]:
polling_votes = pd.DataFrame(polling_grouped["Voter ID"])
polls_summary = polling_votes.rename(columns ={'Voter ID': 'Number of Votes'})
polls_summary

           Number of Votes
Candidate
Correy              704200
Khan               2218231
Li                  492940
O'Tooley            105630

In [54]:
polls_summary['Percentage of Votes'] = polls_summary['Number of Votes']/total_votes
polls_summary

           Number of Votes  Percentage of Votes
Candidate
Correy              704200                 0.20
Khan               2218231                 0.63
Li                  492940                 0.14
O'Tooley            105630                 0.03

In [57]:
winning_vote_num = polls_summary["Number of Votes"].max()
winner_row = polls_summary.loc[polls_summary["Number of Votes"] == winning_vote_num]
winner_row

           Number of Votes  Percentage of Votes
Candidate
Khan               2218231                 0.63