In [1]:
#Load dependencies
import pandas as pd

In [2]:
#set input file
task2_input_file = "Resources/election_data.csv"

In [3]:
polling_df = pd.read_csv(task2_input_file)
polling_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [ ]:
#check to see if there are any empty rows
polling_df.count()

In [4]:
#Check to see if anyone voted twice
polling_df["Voter ID"].value_counts()

17958996    1
19918729    1
11071552    1
19599420    1
15411259    1
           ..
16635144    1
12430599    1
16622854    1
12434693    1
12584961    1
Name: Voter ID, Length: 3521001, dtype: int64

In [79]:
#list of candidates
candidates = polling_df["Candidate"].unique().tolist()
candidates

['Khan', 'Correy', 'Li', "O'Tooley"]

In [5]:
#calculate total number of votes
total_votes = polling_df["Voter ID"].count()
total_votes

3521001

In [6]:
polling_df["Candidate"].value_counts()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [42]:
#METHOD 1
#create datafram of tallied votes
polls_summary  = pd.DataFrame(polling_df["Candidate"].value_counts())
polls_summary

          Candidate
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630

In [47]:
#Rename columns
polls_summary2  = polls_summary.rename(columns={"Candidate": "Number of Votes"})
polls_summary2

          Number of Votes
Khan              2218231
Correy             704200
Li                 492940
O'Tooley           105630

In [48]:
#create new column with percentage of votes
polls_summary2["Percentage of Votes(%)"] = polls_summary2["Number of Votes"]/total_votes*100
polls_summary2

          Number of Votes  Percentage of Votes(%)
Khan              2218231               63.000011
Correy             704200               19.999994
Li                 492940               13.999996
O'Tooley           105630                2.999999

In [49]:
for i in polls_summary2.index:
    #print(i)
    print(f"{i}: {format(polls_summary2.loc[i,'Percentage of Votes(%)'],',.3f')}% ({polls_summary2.loc[i,'Number of Votes']})")

Khan: 63.000% (2218231)
Correy: 20.000% (704200)
Li: 14.000% (492940)
O'Tooley: 3.000% (105630)

In [11]:
new_df = test_df.reset_index()
new_df

      index  Candidate
0      Khan    2218231
1    Correy     704200
2        Li     492940
3  O'Tooley     105630

In [16]:
num_of_candidates = len(polling_df["Candidate"].unique())
num_of_candidates

4

In [51]:
max_votes = polls_summary2["Number of Votes"].max()
max_votes

2218231

In [75]:
#method1 to get winner
winner = polls_summary2.index[polls_summary2['Number of Votes'] == max_votes].tolist()
#for i in winner:
#    print(f"{i}")
winner[0]

'Khan'

In [76]:
winner_info = polls_summary2.index[polls_summary2['Number of Votes'] == max_votes]
winner_info

Index(['Khan'], dtype='object')

In [66]:
#method 2: push candidates out of index
polls_summary3 = polls_summary2.reset_index()
polls_summary3 = polls_summary3.rename(columns={'index': 'Candidate'})
polls_summary3

  Candidate  Number of Votes  Percentage of Votes(%)
0      Khan          2218231               63.000011
1    Correy           704200               19.999994
2        Li           492940               13.999996
3  O'Tooley           105630                2.999999

In [73]:
#winning row
winning_row = polls_summary3.loc[polls_summary3['Number of Votes'] == max_votes]
#print(f"{winning_row.loc[:,'Candidate']}")print(f"{winning_row.loc[:,'Candidate']}")
print(f"{winning_row.iloc[0,0]}")

Khan

In [25]:
#METHOD 2
polling_grouped = polling_df.groupby(["Candidate"]).count()
polling_grouped

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630

In [28]:
polling_grouped["Voter ID"]

Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
Name: Voter ID, dtype: int64

In [51]:
polling_votes = pd.DataFrame(polling_grouped["Voter ID"])
polls_summary = polling_votes.rename(columns ={'Voter ID': 'Number of Votes'})
polls_summary

           Number of Votes
Candidate
Correy              704200
Khan               2218231
Li                  492940
O'Tooley            105630

In [54]:
polls_summary['Percentage of Votes'] = polls_summary['Number of Votes']/total_votes
polls_summary

           Number of Votes  Percentage of Votes
Candidate
Correy              704200                 0.20
Khan               2218231                 0.63
Li                  492940                 0.14
O'Tooley            105630                 0.03

In [57]:
winning_vote_num = polls_summary["Number of Votes"].max()
winner_row = polls_summary.loc[polls_summary["Number of Votes"] == winning_vote_num]
winner_row

           Number of Votes  Percentage of Votes
Candidate
Khan               2218231                 0.63